.navbar-position {
  position: fixed;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  top: 0px;
  background-color: rgba(195, 24, 201, 0.5);
  width: 100%;
  height: 63px;
  z-index: 1000;
  margin-left: -4px;
}

.navbar-responsive {
  display: none;
}

.home {
  margin-left: 500px;
}

.titulo-nav {
  display: inline-flex;
  margin: 10px 10px 0px;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}

.titulo-nav:hover {
  background-color: rgba(255, 255, 255, 0.466);
  padding: 10px;
}
