.navbar-position{
    position: sticky;
    top:20px;
}

.titulo-nav{
    display: inline-flex;
    margin: 0 10px;
    padding: 10px;
    border-radius: 4px;
}

.titulo-nav:hover{
    background-color: rgba(255, 255, 255, 0.466);
    padding: 10px;
}

.titulo-nav a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
}