.estiloGenero {
  width: 45%;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding: 20px;
  background-color: #fbfbfb;
}

.estiloGenero h1,
h2 {
  color: #ab4493;
  text-align: center;
}

.estiloGenero hr {
  border-width: 2px;
  border-color: #ab4493;
}

.estiloGenero input {
  background-color: #fbfbfb;
  width: 260px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.estiloGenero label {
  display: block;
  float: center;
}

.estiloGenero button {
  height: 70px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 80px;
  cursor: pointer;
  color: #ffff;
}

.estiloGenero span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.estiloGenero p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

.estiloGenero input:focus {
  outline: 0;
  border: 1px solid #cc32eb;
}

.cardGenero {
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  margin: 30px;
  height: 85px;
  width: 85%;
}

.cardGenero tr {
  margin-left: 50px;
  width: 100%;
}

.cardGenero td {
  width: 100px;
}

.cardGenero tr button {
  margin-left: 50px;
}

.cardGenero button {
  height: 50px;
  width: 60px;
  margin: 0px 20px 0px 0;
  border: none;
}

.cardGenero ion-icon {
  height: 25px;
  width: 25px;
}

.cardGenero button:hover {
  background-color: var(--lightpink);
}

.cardGenero tr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardGenero tr td {
  margin: 15px;
}

.formGenero {
  display: flex;
  justify-content: center;
  border-bottom: pink solid 2px;
}

.formGenero form {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  align-items: center;
  width: 50vw;
}

.formGenero tr {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: -20px;
}

.formGenero p {
  margin-bottom: 0px;
  margin-left: 0;
}

.formGenero tr td {
  margin-left: 0px;
}

.colocar_nombre {
  margin-left: 20px;
}

.formGenero button {
  background-color: #fbfbfb;
  border: none;
  padding: 0;
}

.formGenero button ion-icon {
  background-color: #fbfbfb;
  color: var(--darkpink);
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: color 0.2s;
}

.formGenero button ion-icon:hover {
  color: var(--lightpink);
}
