.estiloLibro {
  width: 85%;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding: 20px;
  background-color: #fbfbfb;
}

.estiloLibro h1,
h2 {
  color: #ab4493;
  text-align: center;
}

.estiloLibro hr {
  border-width: 2px;
  border-color: #ab4493;
}

.estiloLibro table {
  width: 100%;
}

.encabezado {
  display: flex;
}

.generoSelect {
  border: 1px solid #ab4493 !important ;
  border-radius: 5px;
}

.estiloLibro input {
  background-color: #fbfbfb;
  width: 260px;
  height: 40px;
  border-radius: 5px 0px 0px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.estiloLibro label {
  display: block;
  float: center;
}

.bottonLibro {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 80px;
  cursor: pointer;
  color: #e7f0f0;
}

.buscar {
  border-radius: 0px 10px 10px 0px;
}

.bottonLibro:hover {
  background-color: #8a3676;
  border-color: #7c306a;
}

.estiloLibro span {
  color: transparent;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.estiloLibro p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

.estiloLibro input:focus {
  outline: 0;
  border: 1px solid #f500cc;
}

.confirmarCambio {
  height: fit-content;
  width: fit-content;
}

.prestarLibro {
  /* display: inline-flex; */

  /* margin: 20px; */
  margin-right: 0;
  margin-left: 5%;
  /* width: 20px; */
}

.prestarLibro span {
  width: 10%;
}

.prestarLibro button {
  margin: 0px;
  border-radius: 0px 10px 10px 0px;
  height: 30px;
}
.estiloLibro table {
  margin: 0 auto;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#buscar-lupa {
  display: none;
}

.bottonLibro ion-icon {
  cursor: pointer;
  width: 60%;
  height: 60%;
  transition: color 0.2s;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}

.libro-card select {
  margin-right: -15px;
  margin-left: -15px;
}

.libro-card p {
  margin-left: 20px;
  font-size: 15px;
}

.libro-card td {
  margin-left: 60px;
  align-content: center;
  text-align: start;
  padding: 0;
}

.buscadores button {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 80px;
  cursor: pointer;
  color: #ffff;
}

.buscadores {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: pink solid 2px;
}

.agregar-libro button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: white;
}

.agregar-libro {
  display: flex;
  width: 150px;
  align-items: center;
}

.agregar-libro button ion-icon {
  background-color: none;
  color: var(--darkpink);
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 70px;
  transition: color 0.2s;
}

.agregar-libro button ion-icon:hover {
  color: var(--lightpink);
}

.search-libro {
  width: 400px;
  margin-left: 130px;
  display: flex;
  align-items: center;
}

.search-libro button {
  margin-left: 10px;
  border: none;
  border-radius: 15px;
  margin-top: 0;
  margin-bottom: 0;
  height: 45px;
}

.search-libro input {
  background-color: #fbfbfb;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.search-libro button:hover {
  background-color: var(--lightpink);
}

.search-genero {
  width: 20%;
  margin: 0 15px 0 10px;
  display: flex;
  justify-content: center;
}

.search-genero button {
  margin: 0 0px 0 0px;
  margin-left: 5px;
  height: 45px;
  width: 30%;
  border: none;
}

.search-genero button:hover {
  background-color: var(--lightpink);
}

.search-genero select {
  position: relative;
  border: 1px solid #ccc;
  width: 150px;
  overflow: hidden;
  background-color: #fff;
  padding: 5px 8px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  appearance: none;
}

.search-genero select:before {
  content: "";
  right: 5px;
  top: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
