@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

:root {
  --darkpink: #ab4493;
  --lightpink: #f045c8;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--darkpink);
}

@media screen and (max-width: 950px) {
  :root {
    background-color: white;
    padding: 0px;
  }

  #root {
    background-color: white;
    padding: 0px;
  }

  .estiloGenero {
    width: 100%;
    height: 100%;
    font-size: 15px;
    border-radius: 0;
    padding: 20px;
    background-color: #fbfbfb;
  }

  .estiloFormularioPersona {
    width: 100%;
    height: 100%;
    font-size: 15px;
    border-radius: 0;
    padding: 20px;
    background-color: #fbfbfb;
  }

  .estiloPersona {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 10px;
    padding: 30px;
    width: 80%;
  }

  .estiloLibro {
    /* width: 100%; */
    height: 100%;
    font-size: 12px;
    border-radius: 0;
    padding: 20px;
    background-color: #fbfbfb;
  }

  .search-libro {
    margin-left: 60px;
  }
  .search-genero {
    width: 25%;
  }

  .libro-card td {
    width: 5vw;
    text-align: center;
    font-size: 10px !important;
  }

  #modal-libros-contenido table tbody {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  #modal-libros-contenido table tbody tr {
    display: flex;
    flex-direction: row;
    margin-left: -5%;
    justify-content: space-around;
  }

  #modal-libros-contenido table tbody tr th {
    margin-left: 10%;
  }

  #modal-libros-contenido td {
    margin-left: 0;
    display: flex;
    align-items: center;
  }

  #modal-libros-contenido {
    width: 60%;
    padding: 0% 1% 0% 1%;
    border-radius: 2% !important;
  }

  #modal-libros-close button {
    font-size: 25px;
    position: absolute;
    top: 0px;
  }
}

@media screen and (max-width: 700px) {
  .estiloLibro {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #fbfbfb;
    padding: 0;
    margin-right: 0px;
  }

  .buscadores {
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    height: 200px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }

  .search-libro {
    margin-left: 15px;
    width: 50%;
    height: 50%;
  }

  .search-genero {
    margin-left: 15px;
    width: 50%;
    height: 30%;
    margin-top: 2%;
    justify-content: flex-start;
  }

  .agregar-libro {
    width: 50%;
  }

  .libro-card button {
    background-color: white;
    border: none;
  }

  #boton-prestar {
    background-color: var(--darkpink);
  }

  .libro-card td > button ion-icon {
    color: var(--darkpink);
    border: none;
    width: 100%;
  }

  .libro-card td > button ion-icon:hover {
    color: var(--lightpink);
  }

  .libro-card td > button:hover {
    background-color: transparent;
  }

  .estiloLibro span {
    color: white;
  }

  .libro-card td > button {
    width: 80%;
    padding: 0;
  }

  .libro-card td p {
    font-size: 12px;
    margin-right: 0 !important;
    margin-left: 0;
  }

  .libro-card td select {
    margin-left: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .prestarLibro {
    width: 80%;
  }

  .bottonLibro {
    padding: 0;
    margin: px;
  }

  #modal-libros-close button {
    font-size: 20px;
  }

  #modal-libros-contenido {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  #root {
    background-color: white !important;
    padding: 0;
    margin: 0;
    /* width: 95vw; */
  }

  .buscadores {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 0px;
    padding-left: 0;
    margin-bottom: 10px;
    margin-top: -35px;
    width: 100%;
    height: 45px;
  }

  .search-libro {
    margin-left: 0px;
    width: 70%;
    margin-right: 0;
    justify-content: space-evenly;
  }

  .search-libro input {
    height: 4vh;
    margin-right: -12%;
  }

  .buscar-boton {
    display: none;
  }

  #buscar-lupa {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }

  .search-genero {
    width: 50%;
    align-items: center;
    margin-top: 0;
    margin-left: 0%;
  }

  .search-genero select {
    width: 100%;
    height: 5vh;
  }

  .search-genero select {
    width: 100%;
    height: 5vh;
  }

  .agregar-libro {
    width: 10%;
  }
  .agregar-libro p {
    display: none;
  }

  .agregar-libro button {
    background-color: transparent;
  }

  .libro-card p {
    font-size: 8px !important;
  }

  .estiloLibro {
    font-size: 8px;
  }

  .libro-card td select {
    margin-left: 5px;
    font-size: 8px;
    flex-direction: column;
    width: 90%;
  }

  .prestarLibro button {
    margin-left: 5px;
    font-size: 8px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    height: 15%;
  }

  .navbar-position {
    top: 0px;
    background-color: rgba(195, 24, 201, 0.5);
    width: 100%;
    height: 40px;
    z-index: 1000;
    margin-left: -4px;
    font-size: 10px !important;
  }

  .titulo-nav {
    display: inline-flex;
    margin: 1% 1% 0;
    padding: 8px;
  }

  .titulo-nav:hover {
    padding: 8px;
  }

  .cardGenero {
    margin-left: 5px !important;
    width: 90%;
  }

  .cardGenero tr {
    margin-left: 0px;
    width: 90%;
  }

  .formGenero input {
    width: 60vw;
    margin-left: 10px;
  }

  .estiloFormularioPersona {
    margin-top: 20px;
    width: 92%;
    padding: 5%;
  }

  .estiloGenero {
    margin-top: 20px;
    padding: 5%;
    width: 92%;
  }

  .estiloLibro {
    margin-left: 0;
    width: 100%;
  }

  .estiloLibro table {
    width: 100%;
  }

  .datos {
    max-width: 150px;
  }

  #modal {
    position: fixed;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  #modal-contenido {
    margin: 0;
    background-color: white;
    width: 85vw;
    position: relative;
    border-radius: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
  }

  #form {
    width: 100%;
  }

  #form h2 {
    font-size: 18px;
  }
}
